<div class="container">
  <h1>{{title}}</h1>
  <div class="input-group mb-3">
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        id="inputGroupFile01"
        #csvReader
        name="Upload CSV"
        (change)="uploadListener($event)"
        accept=".csv" />
      <label class="custom-file-label" for="inputGroupFile01">Choose CSV file</label>
    </div>
  </div>


  <div *ngIf="isLoaded">
    <h5>{{fileName}}</h5>

    <hr/>

    <app-upward-trend
      #analysisComponent
      [stockAnalysisService]="stockAnalysisService">
    </app-upward-trend>

    <hr/>

    <div class="wrapper overflow">
      <app-volume-price-change
        #analysisComponent
        [stockAnalysisService]="stockAnalysisService">
      </app-volume-price-change>
    </div>

    <hr/>

    <div class="wrapper overflow">
      <app-open-price-sma
        #analysisComponent
        [stockAnalysisService]="stockAnalysisService">
      </app-open-price-sma>
    </div>
  </div>
</div>



